.conteudo{
    margin: 0 80px ;
}


.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: white;
  
}

input{
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    margin-right: 12px;
    width: 85%;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    color: white;
}

button{
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    color: white    ;
    background: #2d333b;
    font-size: 18px;
    padding: 10px;
}

.perfil{
    display: flex;
    margin: 40px 0;
}

.profile{  
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.perfil h3{
    color: #c7c7c7;
    font-size: 24px;
    margin: 0;
}

.perfil span{
    display: block;
    color: #c7c7c7;
    font-size: 12px;
    margin: 0;
}

.perfil p{
    color: #c7c7c7;
    font-size: 12px;
    margin: 20px 0 0 0;
}

.repositorio {
    font-size: 32px;
    color: white;
    margin: 12px 0;
    text-align: center;
}

.repos-container{
    display: flex;
    flex-direction: row;
    max-width: auto;
    flex-wrap: wrap;
    justify-content: center; /* Centers child elements horizontally */
}

.social-container{

    max-width: 300px;
}

.social-container a:link,
.social-container a:visited {
    text-decoration: none;
    color: #999999;
    
    
}

.social-container a>span{
    padding-bottom: 4px;
}

.social-container a>span:hover{
    color: white;
}

.studies{
    padding-bottom: 4px;
    
}

.language-list {
    list-style-type: none; 
    font-weight: 400;
    font-size: 12px;
    color: #c7c7c7; 

}

.language-list li {
    padding: 4px 0; 
    text-align: justify;
}

.language-list .languages{
    padding-bottom: 12px;
    font-size: 14px;
    color: #d4d4d4;
    max-width: 100px;
    font-style: italic;

}
